.loading {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
  position: relative;
  div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
  }
  #prim {
    animation: load-spinner 3s both infinite;
    animation-delay: 0.2;
    top: 5px;
    left: 5px;
    background-color: $couleur-primaire;
  }
  #sec {
    animation: load-spinner 3s both infinite;
    animation-delay: 0.3;
    top: 25px;
    left: 25px;
    background-color: $couleur-secondaire;
  }
  #cinq {
    animation: load-spinner 3s both infinite;
    animation-delay: 1;
    top: 20px;
    left: 20px;
    background-color: $couleur-cinq;
  }
  #quat {
    animation: load-spinner 3s both infinite;
    animation-delay: 1.5;
    top: 35px;
    left: 35px;
    background-color: $couleur-quatre;
  }
}