.table {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  header, div, nav {
    font-size: 14px;
    color: $couleur-primaire;
    background-color: $couleur-tertiaire;
  }
  .rdt_TableHead {
    div, .rdt_TableCol_Sortable {
      font-size: 16px;
      color: $couleur-quatre;
    }
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: $couleur-quatre $couleur-primaire;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $couleur-primaire;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $couleur-quatre;
    border-radius: 20px;
    border: 3px solid $couleur-secondaire;
  }
}
#btn-filter {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  padding: 1px 5px;
  margin: 0 5px;
  &:hover {
    background-color: $couleur-secondaire;
    border-radius: 50%;
  }
}